.regPic{
	width: 100px;
	float: left;
}

.delImage{
	width: 10%;
	float: left;
	font-size: 25px;
	margin-top: -17px;
	margin-left: -7px;
	color: #f99;
	cursor: pointer;

}

.delImage:hover{
	font-size: 28px;
	margin-top: -20px;
	color: #f00;
}