.block{
	height: 100px;
	background-color: #ccc;
	margin-top: -20px;
	margin-bottom: 40px;
	padding-top: 20px;
	color: #333;
}

.userPic{
	width: 100px;
	float: left;
	margin-left: 15px;
	margin-top: -12px;
	border: 3px solid #333;
}

.leftBox{
	margin-left: 30px;
	height: 80px;
	width: 500px;
	float: left;
}

.colText{
	width: 100px;
	word-wrap: normal;
	font-size: 12px;
}

.fa{
	cursor: pointer;
}
.fa-edit:hover{
	color: #00f;
}
.fa-trash:hover{
	color: #f00;
}