.catgForm{
	padding-top: 30px;
	height: 150px;
	border-bottom: 1px solid #aaa;
	margin-bottom: 50px;
}

.singlefield{
	background-color: #fff;
}

.catgSubmit{
	margin-top: 24px;
	margin-left: 50px
}

.noDataMsg{
	text-align: center;
	font-size: 18px;
	color: #f66;
	padding: 30px;
	border: 1px solid #f66;
	margin-bottom: 100px;
	margin-top: 25px;
}

.noDataMsg .fa{
	font-size: 30px;
	color: #f66 !important;
}

.latestRow{
	background-color: #ff9;
}

.fa-trash, .fa-edit{
	cursor: pointer;
}

.fa-trash:hover{
	color: #f66 !important;
}

.fa-edit:hover{
	color: #66f !important;
}